* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
  }

  
  
   /* Header */

   header {
    background: url(/Img/header.jpg) no-repeat center center ;
    background-size: cover;
    height: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
   h1 {
    font-family: 'Pinyon Script', cursive;
    font-size: 120px;
    font-weight: 300;
    color:#302663;
   }
  
    /* Section */

    main {
        padding: 0 60px;
    }

    .titre1 {
        display: flex;
        justify-content: space-around;
        color: #302663;
        margin: 30px;
    }

    .galerie {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 40px;
    }
    .ficheProduit {
        width: 200px;

    }

    .ficheProduit img {
        width: 180px;
    }

    .reseauxDesk {
        display: flex;
        justify-content: flex-end;
        font-size: 36px;
    }

    .reseauxDesk i {
        padding: 25px;
    }

    .reseauMob {
        display: none;
    }

    .credit { 
        display: flex;
    }



        /* Footer */

        footer {
            display: flex;
            justify-content: center;
           border-top: solid 4px #302663;
        }

        footer a {
            color: #302663;
            padding: 0 15px;
        }

        footer *  {
            margin: 10px;
        }

        @media screen and (max-width:480px) {
          
            h3{
                display: none;
            }
            footer {
                display: flex;
                font-size: 16px;
                align-items: center;
            }

            .credit {
                display: flex;
                flex-direction: column;
            }
            .reseauxDesk {
                display: none;
            }
            .reseauMob {
                display: flex;
                font-size: 24px;
                justify-content: center;
                align-items: baseline;
            }
        }

       

     